<html>
    <head>
        <title>Yuri Thanks You</title>
    </head>

    <body>
        <div>
            Thank you <%= contact.firstName %> <%= contact.lastName %>.
        </div>
    </body>
</html>